[submodule "Kraken/vendor/spdlog"]
    path = Kraken/vendor/spdlog
    url = https://github.com/gabime/spdlog
[submodule "Kraken/vendor/GLFW"]
	path = Kraken/vendor/GLFW
	url = https://github.com/ColinAllenDev/glfw
[submodule "Kraken/vendor/imgui"]
	path = Kraken/vendor/imgui
	url = https://github.com/ColinAllenDev/imgui
